{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="main-wrap" id="reservation-section">   
    <div class="section" data-aos="fade-up">
        <div class="container">
            <div class="row justify-content-center mb-1">
                <div class="reservation-section-header text-center">
                    <h3>Reservations</h3>
                    <p>
                        Interested in trying some of our sublime dishes? <br>
                        Book a table with <span>La Grill</span> today.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 p-1 form-wrap">

                    <form action="{% url 'reservation:reserve_table' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column center">
                        {% csrf_token %}
                        <div class="row mb-2">
                            <div class="form-group col-md-6 pb-3">
                                <label for="name" class="label">Full Name</label>
                                <div class="form-field-icon-wrap">
                                    <span class="icon ion-android-person"></span>
                                    <input type="text" class="form-control" id="name" name="full_Name" placeholder="e.g John Smith">
                                </div>
                            </div>
                            <div class="form-group col-md-6 pb-3">
                                <label for="email" class="label">Email</label>
                                <div class="form-field-icon-wrap">
                                    <span class="icon ion-email"></span>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="youremail@something.com">
                                </div>
                            </div>
                            <div class="form-group col-md-6 pb-3">
                                <label for="phone" class="label">Phone</label>
                                <div class="form-field-icon-wrap">
                                    <span class="icon ion-phone"></span>
                                    <input type="phone" class="form-control" id="phone" name="phone" minlength="10" maxlength="15" placeholder="+123 456 789">
                                </div>
                            </div>
                            <div class="form-group col-md-6 pb-3">
                                <label for="guests" class="label">Guests</label>
                                <div class="form-field-icon-wrap">
                                    <span class="icon ion-date"></span>
                                    <input type="number" class="form-control" id="guests" name="guests" min="1" max="12" placeholder="1 - 12">
                                </div>
                            </div>
                            <div class="form-group col-md-6 pb-3">
                                <label for="date" class="label">Date</label>
                                <div class="form-field-icon-wrap">
                                    <span class="icon ion-date"></span>
                                    <input type="date" class="form-control" id="date" name="date" min="2023-12-10" max="2025-12-31">
                                </div>
                            </div>
                            <div class="form-group col-md-6 pb-3">
                                <label for="time" class="label">Time</label>
                                <div class="form-field-icon-wrap">
                                    <span class="icon ion-time"></span>
                                    <input type="time" class="form-control" id="time" name="time" min="15:00" max="03:00">
                                </div>
                            </div>
                            <div class="form-group col-md-12 mt-5 reservation-button-container">
                                <button  type="submit" class="btn btn-outline-warning btn-lg mx-auto d-block">RESERVE A TABLE</button>    
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %} -->
</section>


{% endblock %}
