/* --- Root Styles --- */
:root {
    --primary-col: rgb(26, 26, 26);
    --secondary-col: #EEB307;
    --tertiary-col: #F0F0F0;
    --main-fnt: 'Rozha One', serif;
}

/* remove bootsrap styles on accordion btn*/
.accordion-button:focus {
    background: none;
    box-shadow: none;
    transition: none;
}

/* --- General stlyes --- */
p{
    font-size: 20px;
}

.padding{
    padding: 60px;
}

/* --- Navbar CSS start--- */
.navbar {
    font-family: var(--main-fnt);
    font-size: 20px;
    background-color: rgb(26, 26, 26);
    border-bottom: 3px solid var(--secondary-col);
}

.navbar button {
    background-color: var(--secondary-col);
}

.navbar-toggler:focus {
    box-shadow: none;
}

#logo {
    width: 80px;
    padding-bottom: 5px;
}

#navbarSupportedContent {
    margin-left: 15px;
}

.nav-item a {
    color: var(--secondary-col);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-item a:hover {
    text-decoration: overline;
    color: var(--secondary-col);
}

.account-nav-item a:hover {
    text-decoration: underline !important;
    color: var(--secondary-col);
}

.banner #logo {
    width: 150px;
    margin-bottom: 20px;
}

/* --- Navbar CSS end--- */

/* --- Hero CSS start --- */
.banner{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-social,.banner-address{
    color: white;
}

.banner-middle {
    color: white;
}

.fab {
    font-size: 24px;
    padding: 10px;
}

.fab:hover {
    color: var(--secondary-col);
    cursor: pointer;
}
/* --- Hero CSS end --- */

/* --- About-us-section Start --- */
#about {
    height: 100vh;
}

.about-us-top-one p {
    font-weight: bold;
    font-size: 30px;
    line-height: 3;
    padding-top: 50%;
}

.about-us-top-one p span {
    color: var(--secondary-col);
}

.about-us-top-two {
    padding-top: 60px;
}

.about-us-top-three h3{
    margin-bottom: 40px;
}

.about-us-bottom-one h3 {
    margin-bottom: 40px;
}

#accordion {
    --bs-accordion-active-bg: white;
    --bs-accordion-active-bg: none;
}

.accordion {
    --bs-accordion-active-bg: white;
}

.accordion-item {
    border: none;
}

.accordion-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEB307;
}

.accordion-body {
    margin: 0;
}

.chef-img {
    width: 200px;
    height: 200px;
}

/* --- About-us-section End --- */

/* Blog Section Start */

/* Blog Section End */

/* --- Menu Section Start --- */
#menu-section {
    height: 100%;
    color: white;
    background-color: var(--primary-col);
    padding-bottom: 20px;
}

#menu-section h3 {
    font-family: var(--main-fnt);
    font-size: 50px;
    color: var(--secondary-col);
}

.menu-item-photo {
    width: 150px;
}

.menu-item-info {
    font-size: 16px;
}

/* --- Menu Section End --- */

/* --- Gallery Section Start */
#gallery-section img{
    border: 3px solid var(--secondary-col);
}

.gallery-section-header{
    color: var(--secondary-col);
    font-family: var(--main-fnt);
    font-size: 50px;
}

.gallery-section-info{
    color: var(--primary-col);
    padding-bottom: 13px;
}
/* --- Gallery Section end */

/* --- Reservartion Section Start--- */
#reservation-section {
    background-color: var(--primary-col);
    color: var(--tertiary-col);
}

#reservation-section .container {
    padding: 20px 0 15px 0;
    width: 85%;
}

#reservation-section h3{
    font-family: var(--main-fnt);
    font-size: 50px;
    color: var(--secondary-col);
    padding-bottom: 20px;
}

#reservation-section p {
    padding-bottom: 30px;
}

#reservation-section span {
    color: var(--secondary-col);
}

.messages li{
    color: var(--secondary-col);
    text-align: center;
    list-style-type: none;
    font-size: 2rem;
    padding-bottom: 20px;
}

/* --- Reservartion Section End --- */

/* --- Footer/contact us Section Start --- */
#footer {
    background-color: var(--tertiary-col);
    padding: 20px 0;
}

.footer-about h3,
.footer-contact h3,
.footer-hours h3 {
    color: var(--secondary-col);
    font-family: var(--main-fnt);
    font-size: 25px;
    text-align: center;
}

#footer p {
    text-align: center;
    font-size: 15px;
}

/* --- Footer/contact us Section End --- */


/* Login section Start*/

#id_password,
#id_login {
    display: block;
}

.login .helptext {
    display: none;
}

.login p:nth-child(4) {
    display: none;
}

/* Login section End */


/* Media Queries */
@media only screen and (max-width: 768px) {
    /* HERO/BANNER SECTION */
    .banner-middle {
        margin: 0 !important;
        padding: 0 !important;
    }

    .banner-middle p {
        font-size: 16px;
        padding: 0 10px;
    }

    .banner-social {
        padding-bottom: 0 !important;
    }

    .banner-address p {
        font-size: 16px;
        margin-bottom: 0 !important;
    }

    /* ABOUT US SECTION */
    .about-us-content {
        font-size: 1rem;
    }

    .our-history-container-inner {
        margin-top: 15px !important;
    }

    /* OUR HISTORY SECTION */
    .our-history-container {
        padding: 0 !important;
        margin-bottom: 20px !important;
    }
    .our-history-title {
        margin: 20px 0 0 0 !important;
    }

    .our-history-content {
        font-size: 16px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .history-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .why-choose-us-container .row {
        margin-bottom: 0 !important;
    }

    .why-choose-us-container .row p {
        font-size: 18px;
    }

    /* CHEFS */
    #chef-section .row {
        margin-bottom: 0 !important;
    }

    #chef-section h2 {
        margin-top: 10px !important;
    }

    #chef-section p {
        font-size: 16px;
    }

    #chef-section img {
        width: 100% !important;
        padding: 0 10px !important;
        margin-bottom: 5px !important;
        border-radius: 10px !important;
    }

    #chef-section h3 {
        text-align: center;
    }

    #chef-section p {
        text-align: center;
        margin-bottom: 15px !important;
    }

    /* MENU SECTION */
    #menu-section .container{
        padding: 0.6rem !important;
    }

    #menu-section .container h3 {
        font-size: 30px;
    }

    #menu-section .container p {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }

    .menu-item-photo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-item-photo-container img {
        width: 100%;
    }
    .menu-item-details-container {
        text-align: center;
        margin-top: 15px;
    }

    .menu-item-details-container p {
        padding-top: 5px;
    }

    .menu-item-price-container {
        text-align: center;
    }

    /* RESERVATION SECTION */
    .reservation-section-header p {
        padding: 0 !important;
        margin: 0 !important;
    }

    .reservation-button-container {
        margin-top: 10px !important;
    }

    /* GALLERY SECTION */
    #gallery-section {
        padding: 10px;
    }

    .gallery-section-header {
        font-size: 30px;
    }

    .gallery-section-info {
        font-size: 18px;
        margin: 0;
    }
}