:root {
    --primary-col: rgb(26, 26, 26);
    --secondary-col: #ffc107;
    --tertiary-col: #F0F0F0;
    --main-fnt: 'Rozha One', serif;
}

.accordion-button:focus {
    background: none;
    box-shadow: none;
    transition: none;
}

li {
    list-style: none;
}

p {
    font-size: 20px;
}

.padding {
    padding: 60px;
}

a {
    text-decoration: none;
}

.navbar {
    font-family: var(--main-fnt);
    font-size: 20px;
    background-color: rgb(26, 26, 26);
    border-bottom: 3px solid var(--secondary-col);
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000000000;
}

.navbar button {
    background-color: var(--secondary-col);
}

.navbar-toggler:focus {
    box-shadow: none;
}

a .logo {
    width: 80px;
    padding-bottom: 5px;
}

#navbarSupportedContent {
    margin-left: 15px;
}

.nav-item a {
    color: var(--secondary-col);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-item a:hover {
    text-decoration: overline;
    text-underline-offset: 4px;
    color: var(--secondary-col);
}

.account-nav-item a:hover,
#account-link:hover {
    color: var(--secondary-col);
}

.banner #logo {
    width: 150px;
    margin-bottom: 20px;
}

.profile {
    list-style-type: none;
    margin-left: 15px;
    padding-left: 15px;
}

.profile-li a {
    color: var(--secondary-col);
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;
}

.account-links {
    margin: 0;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-col);
    z-index: 1;
}
    
.dropdown-content a {
    color: var(--secondary-col);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px 0 0 0;
}
    
.dropdown:hover .dropdown-content {
    display: block;
}

#menu-update-btn button {
    background-color: var(--secondary-col);
    color: var(--primary-col);
    border: none;
    border-radius: 3px;
}

#menu-mng-title h2 {
    font-family: var(--main-fnt);
    font-size: 40px;
    color: var(--secondary-col);
}

.menu-mng-cancel-btn {
    margin-right: 20px;
}

.edit-menu-btn {
    margin-right: 10px;
}

.edit-menu-btn,
.delete-menu-btn {
    border: 1px solid var(--secondary-col);
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1rem;
}

.edit-menu-btn:hover,
.delete-menu-btn:hover {
    background-color: var(--secondary-col);
}

#sign-up-container form li {
    font-size: 25px;
}

#logging-header {
    font-family: var(--main-fnt);
    color: var(--secondary-col);
    font-size: 32px;
}

.logging-link {
    color: var(--secondary-col);
}

#id_password,
#id_login {
    display: block;
}

.login .helptext {
    display: none;
}


#signup_form ul li {
    display: none;
}

.superuser-menu-container {
    margin-left: 30px;
    text-align: center;
}

.page-content {
    margin-top: 60px;
}

.banner {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-social,.banner-address{
    color: white;
}

.banner-middle {
    color: white;
}

.fab {
    font-size: 24px;
    padding: 10px;
}

.fab:hover {
    color: var(--secondary-col);
    cursor: pointer;
}

#about {
    height: 100vh;
}

.about-us-top-one p {
    font-weight: bold;
    font-size: 30px;
    line-height: 3;
    padding-top: 50%;
}

.about-us-top-one p span {
    color: var(--secondary-col);
}

.about-us-top-two {
    padding-top: 60px;
}

.about-us-top-three h3 {
    margin-bottom: 40px;
}

.about-us-bottom-one h3 {
    margin-bottom: 40px;
}

#accordion {
    --bs-accordion-active-bg: white;
    --bs-accordion-active-bg: none;
}

.accordion {
    --bs-accordion-active-bg: white;
}

.accordion-item {
    border: none;
}

.accordion-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEB307;
}

.accordion-body {
    margin: 0;
}

.chef-img {
    width: 100%;
    height: 400px;
}

.chef-name {
    font-size: 22px;
    text-align: center;
}

.chef-title {
    text-align: center;
    font-size: 19px;
}

.chef-bio {
    font-size: 16px;
    text-align: center;
}

#post-heading-container h2 {
    font-family: var(--main-fnt);
    text-align: center; 
    color: #EEB307; 
    font-weight: 300; 
    font-size: 3rem;
}

#post-heading-container p {
    text-align: center;
}

#post_list_title {
    color: var(--secondary-col); 
    font-size: 1.5rem; 
    text-decoration: none;
}

.categories h3 {
    color: var(--secondary-col);
}

.fa-calendar {
    font-size: 0.8rem;
}

.media-body {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
}

#menu-section {
    height: 100%;
    color: white;
    background-color: var(--primary-col);
    padding-bottom: 20px;
}

#menu-section h3 {
    font-family: var(--main-fnt);
    font-size: 50px;
    color: var(--secondary-col);
}

.menu-item-photo {
    width: 200px;
    height: 100%;
}

.menu-item-info {
    font-size: 16px;
}

#gallery-section img {
    border: 3px solid var(--secondary-col);
}

.gallery-section-header {
    color: var(--secondary-col);
    font-family: var(--main-fnt);
    font-size: 50px;
}

.gallery-section-info {
    color: var(--primary-col);
    padding-bottom: 13px;
}

#reservation-section {
    background-color: var(--primary-col);
    color: var(--tertiary-col);
}

#reservation-section .container {
    padding: 20px 0 15px 0;
    width: 85%;
}

#reservation-section h3 {
    font-family: var(--main-fnt);
    font-size: 50px;
    color: var(--secondary-col);
    padding-bottom: 20px;
}

#reservation-section p {
    padding-bottom: 30px;
}

#reservation-section span {
    color: var(--secondary-col);
}

.messages li {
    color: var(--secondary-col);
    text-align: center;
    list-style-type: none;
    font-size: 2rem;
    padding-bottom: 20px;
}

#footer {
    background-color: var(--tertiary-col);
    padding: 20px 0;
}

.footer-about h3,
.footer-contact h3,
.footer-hours h3 {
    color: var(--secondary-col);
    font-family: var(--main-fnt);
    font-size: 25px;
    text-align: center;
}

#footer p {
    text-align: center;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .banner-middle {
        margin: 0 !important;
        padding: 0 !important;
    }

    .banner-middle p {
        font-size: 16px;
        padding: 0 10px;
    }

    .banner-social {
        padding-bottom: 0 !important;
    }

    .banner-address p {
        font-size: 16px;
        margin-bottom: 0 !important;
    }

    .about-us-content {
        font-size: 1rem;
    }

    .our-history-container-inner {
        margin-top: 15px !important;
    }

    .our-history-container {
        padding: 0 !important;
        margin-bottom: 20px !important;
    }

    .our-history-title {
        margin: 20px 0 0 0 !important;
    }

    .our-history-content {
        font-size: 16px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .history-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .why-choose-us-container .row {
        margin-bottom: 0 !important;
    }

    .why-choose-us-container .row p {
        font-size: 18px;
    }

    #chef-section .row {
        margin-bottom: 0 !important;
    }

    #chef-section h2 {
        margin-top: 10px !important;
    }

    #chef-section p {
        font-size: 16px;
    }

    #chef-section img {
        width: 100% !important;
        padding: 0 10px !important;
        margin-bottom: 5px !important;
        border-radius: 10px !important;
    }

    #chef-section h3 {
        text-align: center;
    }

    #chef-section p {
        text-align: center;
        margin-bottom: 15px !important;
    }

    #menu-section .container {
        padding: 0.6rem !important;
    }

    #menu-section .container h3 {
        font-size: 30px;
    }

    #menu-section .container p {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }

    .menu-item-photo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
    }
    .menu-item-photo-container img {
        width: 100%;
    }
    .menu-item-details-container {
        text-align: center;
    }

    .menu-item-details-container p {
        padding-top: 5px;
    }

    .menu-item-price-container {
        text-align: center;
    }

    .reservation-section-header p {
        padding: 0 !important;
        margin: 0 !important;
    }

    .reservation-button-container {
        margin-top: 10px !important;
    }

    #gallery-section {
        padding: 10px;
    }

    .gallery-section-header {
        font-size: 30px;
    }

    .gallery-section-info {
        font-size: 18px;
        margin: 0;
    }
}