{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-wrap page-content">
        <div class="cover_1 cover_sm">
            <div class="img_bg">
                <div class="container">
                    <div class="row align-items center justify-content-center">
                        <div class="col-md-7" id="post-heading-container" data-aos="fade-up">
                            <h2 class="heading pt-3">La Grill Blog</h2>
                            <p class="lead pb-2">Below you will find our blog where you can read about all things La Grill. From recent news to top tips and much more!</p>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="col-12 mt-3 pb-5 d-flex justify-content-center">
                                <small>
                                    <a class="text-success edit-menu-btn" href="{% url 'blog:add_post' %}">Create A Post</a>
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="blog_post-list_section">
            <div class="container">
                <div class="row mb-5">
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="media d-block media-bg-white mb-3" data-aos="fade-up" data-aos-delay="350">
                            <div class="media-body">
                                <h3><a href="{% url 'blog:post_detail' post.id %}" id="post_list_title">{{post}}</a></h3>
                                <p class="post-meta"><span class="fa fa-user fa-xs"> {{post.author}}</span></p>
                                <p class="post-meta"><span class="fa fa-calendar"> {{post.created}}</span></p>
                                <p class="mb-4">{{post.content|truncatechars:25}}</p>
                                <p><a href="{% url 'blog:post_detail' post.id %}" class="btn btn-outline-warning btn-sm">Read More</a></p>
                            {% if request.user.is_superuser %}
                                <div class="col-12 mt-4 pb-3">
                                    <small>
                                        <a class="text-danger delete-menu-btn" href="{% url 'blog:delete_post' post.id %}">Delete Post</a>
                                    </small>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
