{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="main-wrap">
        <div class="cover_1 cover_sm">
            <div class="img_bg">
                <div class="container">
                    <div class="row align-items center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade-up">
                            <h2 class="heading">Luxury, healthy foods</h2>

                            <div class="post-info">
                                <div class="date-info">February 2024</div>
                                <div class="category-info"><span class="seperator">|</span>In <a href="#" data-title="View all posts in this category"></a></div>
                                <div class="author-info"><span class="seperator">|</span>By <a href="#">Admin 1</a></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">

                <div class="row">

                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eos sit modi iure officiis saepe hic iusto ipsa itaque porro non esse quia aspernatur, dolores sed culpa quae vero numquam!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde facere fugit nulla ad, minima aperiam quidem suscipit. Sunt ipsam atque cum quis debitis corrupti. Aliquid illum ad quisquam cupiditate reprehenderit.</p>
                        <h2 class="mb-3 mt-5">Your best health</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus cumque consectetur harum sit natus! Iusto repudiandae illo laborum animi vitae totam, dolorum quasi, exercitationem nobis explicabo, expedita eum sit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus cumque consectetur harum sit natus! Iusto repudiandae illo laborum animi vitae totam, dolorum quasi, exercitationem nobis explicabo, expedita eum sit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus cumque consectetur harum sit natus! Iusto repudiandae illo laborum animi vitae totam, dolorum quasi, exercitationem nobis explicabo, expedita eum sit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus cumque consectetur harum sit natus! Iusto repudiandae illo laborum animi vitae totam, dolorum quasi, exercitationem nobis explicabo, expedita eum sit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta necessitatibus cumque consectetur harum sit natus! Iusto repudiandae illo laborum animi vitae totam, dolorum quasi, exercitationem nobis explicabo, expedita eum sit.</p>
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link">Health</a>
                                <a href="#" class="tag-cloud-link">Luxury</a>
                                <a href="#" class="tag-cloud-link">Invite Only</a>
                                <a href="#" class="tag-cloud-link">Lifetme Experience</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}