{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!-- ********** Header ********** -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>La Grill - Fine Dining Restaurant</title>
    </head>

    <body>
    <!-- ********** Navbar Section********** -->
        <nav class="navbar navbar-expand-sm d-flex">
            <div class="container-fluid">
                <a href="/"><img src="/static/images/logo1.png" alt="logo" id="logo"></a>
                <button class="navbar-toggler text-success bg-alert" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse align-items-center justify-content-around" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus:aboutus_list' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu:menu_list' %}">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reservation:reserve_table' %}">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact Us</a>
                        </li>

                        <ul class="account-links d-flex flex-row">
                            {% if user.is_authenticated %}
                            <li class="nav-item account-nav-item">
                                <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item account-nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item account-nav-item">
                                <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                            </li>
                            {% endif %}
                        </ul>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- ********** Hero Section ********** -->
        <div class="banner">
            <div class="mask d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
                            <div class="banner-middle text-center text-justify text-break mb-5">
                                <p class="display-5">
                                    Bar
                                    <span class="text-warning p-1">/</span>
                                    Restaurant
                                </p>
                                <a href="/"><img src="/static/images/logo1.png" alt="logo" width="90" id="logo"></a>
                                <p>Incredible Food, Unforgettable Experiences.<br>
                                    If you are looking for a truly special dining experience, then La Grill is the perfect choice.
                                    <br>
                                    It is an opportunity to experience the pinnacle of culinary artistry and to create lasting memories.</p>
                                <a href="{% url 'reservation:reserve_table' %}" class="btn btn-outline-warning btn-lg mt-3" type="button">RESERVE A TABLE</a>
                            </div>
                        </div>

                        <div class="col-xs-5 col-sm-12 col-md-5 col-lg-6 col-xl-6">
                            <div class="banner-social text-light text-center pb-3">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>

                        <div class="col-xs-7 col-sm-12 col-md-7 col-lg-6 col-xl-6">
                            <div class="banner-address">
                                <p class="text-light text-center"><i class="fas fa-map-marker text-warning p-1"></i> One Restaurant Place, Food City, NW</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block body %}

        {% endblock body %}

    <!-- ***** Footer / Contact Us Section ***** -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 my-4 col-xs-12">
                    <div class="footer-about">
                        <h3>About La Grill</h3>
                        <p>La Grill offer a unique and elevated dining experience, with a focus on high-quality ingredients, innovative cuisine, and impeccable service.</p>
                        <p>&copy;2023 - La Grill. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-sm-4 my-4 col-xs-12">
                    <div class="footer-contact">
                        <h3>Contact Us</h3>
                        <p><i class="fas fa-map-marker"></i> One Restaurant Place, Food City, 0000</p>
                        <p><i class="fas fa-phone-volume"></i> +123 456 7890</p>
                        <p><i class="fas fa-envelope"></i> Bookings@lagrill.com</p>
                    </div>
                </div>
                <div class="col-sm-4 my-4 col-xs-12">
                    <div class="footer-hours">
                        <h3>Opening Hours:</h3>
                        <p>Monday - Closed</p>
                        <p>Tuesday - Thursday : 04:00 PM - 01:00 AM</p>
                        <p>Friday - Sunday : 03:00 PM - 03:00 AM</p>
                    </div>
                </div>
            </div>
        </div>
       </footer>

    <!-- ***** JS Links ***** -->

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/1a5fa01ebf.js" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
