{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- body wrapper -->
    <div class="body-part-between-nav-and-footer">
        {% comment %}
        <!-- ********** Hero Section ********** -->
            <div class="banner">
                <div class="mask d-flex justify-content-center align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="banner-middle text-center text-justify text-break">
                                    <p>
                                        <span class="text-warning p-1">Bar</span>
                                        / Restaurant</p>'
                                    <a href="index.html"><img src="/static/site_static/images/logo1.png" alt="logo" width="80px" id="logo"></a>
                                    <p>Incredible Food, Unforgettable Experiences.<br>
                                        If you are looking for a truly special dining experience, then La Grill is the perfect choice.
                                        <br>
                                        It is an opportunity to experience the pinnacle of culinary artistry and to create lasting memories.</p>
                                    <a href="#reservation-section" class="btn btn-outline-warning btn-lg" type="button">RESERVE A TABLE</a>
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="banner-social text-dark">
                                    <i class="fab fa-facebook"></i>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-twitter"></i>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="banner-address">
                                    <p class="text-dark">
                                        <i class="fas fa-map-marker text-warning p-1 "></i>
                                        One Restaurant Place, Food City, 0000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- ********** About Us Section ********** -->
            <section class="about-us-section-top padding container" id="about">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-12">
                            <div class="about-us-top-one">
                                <p>From Wines,
                                    <br>
                                    To Champagnes.
                                    <br>
                                    <span>La Grill offers it all.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="about-us-top-two">
                                <img src="/assets/images/about-us-images/about-us-img1.jpeg" alt="img" style="width: 350px;">
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="about-us-top-three text-justify text-center ">
                                <h3>"Real Taste" is our motto here at La Grill.</h3>
                                <p class="lead">A fine wine is a work of art, meticulously crafted from the finest grapes and aged to perfection. Each sip is a journey of discovery, as the complex flavors unfold on the palate. Whether it's a bold Cabernet Sauvignon or a delicate Pinot Noir, a truly great wine has the power to transport you to another time and place.</p>
                                <p class="lead">Champagne, on the other hand, is the epitome of celebration. Its effervescent bubbles and elegant presentation make it the perfect way to mark special occasions. From weddings and anniversaries to graduations and promotions, champagne is synonymous with joy and success.</p>
                                <p>So next time you're looking for a way to make a special occasion even more memorable, reach for a bottle of the finest wine or champagne you can find. You won't be disappointed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-us-section-bottom padding container">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="about-us-bottom-one">
                                <h3>Fine dining food is an exquisite culinary experience.</h3>
                                <p class="lead">From meticulously prepared dishes with intricate presentations to impeccable service in elegant surroundings, fine dining is a symphony of flavors, textures, and ambiance.</p>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="about-us-bottom-two">
                                <img src="/assets/images/about-us-images/about-us-img2.jpeg" alt="food" width="400px">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endcomment %}
        <!-- ********** Menu Section ********** -->
            <div class="container-fluid mh-100" id="menu-section">
                <div class="row">
                        <div class="container col-10 text-center p-4">
                            <h3>Our Menu</h3>
                            <p class="mb-4">A culinary canvas where artistry and indulgence converge, each dish a symphony of flavors meticulously crafted to delight the senses and leave a lasting impression.</p>
                        </div>

                    <!-- Menu Items -->
                    <div class="menu-items">
                        <div class="container">
                            <div class="row">

                                <!-- Menu item -->
                                {% for menu in menu_list %}
                                    <div class="col-lg-6 col-md-12">
                                        <div class="row menu-item-1">
                                            <div class="col-3">
                                                <img class="menu-item-photo" src="{{image.menu_detail.url}}" alt="menu item one">
                                            </div>
                                            <div class="col-7">
                                                <h5 class="menu-item-title"><a href="{% url 'menu:menu_detail' menu.slug %}">{{menu.name}}</a></h5>
                                                <p class="menu-item-info pt-2">{{menu.description}}</p>
                                            </div>
                                            <div class="col-2">
                                                <span class="dollar font-weight-bold">{{menu.price}}</span>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}
        <!-- ********** Gallery Section ********** -->
            <div class="gallery padding" id="gallery-section">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-12 gallery-top">
                            <div class="gallery-title text-center">
                                <h3 class="gallery-section-header"> ~ La Grill Gallery ~ </h3>
                                <p class="gallery-section-info">View just some of our exclusive menu items below.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <a href="/assets/images/gallery-images/gallery-image1.jpeg" data-lightbox="id" data-title="Testing"><img src="/assets/images/gallery-images/gallery-image1.jpeg" alt="" class="img-fluid mb-2"></a>
                            <a href="/assets/images/gallery-images/gallery-image2.jpeg" data-lightbox="id"><img src="/assets/images/gallery-images/gallery-image2.jpeg" alt="" class="img-fluid mb-2"></a>
                            <a href="/assets/images/gallery-images/gallery-image3.jpeg" data-lightbox="id"><img src="/assets/images/gallery-images/gallery-image3.jpeg" alt="" class="img-fluid mb-2" ></a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/assets/images/gallery-images/gallery-image4.jpeg" data-lightbox="id">  <img src="/assets/images/gallery-images/gallery-image4.jpeg" alt="" class="img-fluid mb-2"></a>
                            <a href="/assets/images/gallery-images/gallery-image5.jpeg" data-lightbox="id">  <img src="/assets/images/gallery-images/gallery-image5.jpeg" alt="" class="img-fluid mb-2"></a>
                        </div>
                        <div class="col-sm-4">
                            <a href="/assets/images/gallery-images/gallery-image6.jpeg" data-lightbox="id"><img src="/assets/images/gallery-images/gallery-image6.jpeg" alt=""  class="img-fluid mb-2"></a>
                            <a href="/assets/images/gallery-images/gallery-image7.jpeg" data-lightbox="id"><img src="/assets/images/gallery-images/gallery-image7.jpeg" alt=""  class="img-fluid mb-2"></a>                    </div>
                    </div>
                </div>
            </div>

        <!-- ********** Reservations Section ********** -->
            <section class="padding" id="reservation-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="reservation-section-header text-center">
                                <h3>Reservations</h3>
                                <p>
                                    Interested in trying some of our sublime dishes? <br>
                                    Book a table with <span>La Grill</span> today.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="reservation-form">
                                <form action="#">
                                    <input type="text" name="Full name" id="full name" class="form-control mb-4 form-control-lg" placeholder="Full name">
                                    <input type="number" name="Phone number" id="phone number" class="form-control mb-4 form-control-lg" placeholder="Phone number">
                                    <input type="email" name="Email address" id="email address" class="form-control mb-4 form-control-lg" placeholder="E-mail address">
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="reserv-form">
                                <form action="#">
                                    <select name="select" id="select-option" class="form-control form-control-lg mb-4">
                                    <option value="0">Select Guests</option>
                                    <option value="1">1 Guest</option>
                                    <option value="2">2 Guests</option>
                                    <option value="3">3 Guests</option>
                                    <option value="4">4 Guests</option>
                                    <option value="5">5 Guests</option>
                                    <option value="6">6+ Guests</option>
                                </select>
                                    <input type="date" name="date" id="date" class="form-control form-control-lg mb-4">
                                    <input type="time" name="date" id="date" class="form-control form-control-lg mb-4">
                                </form>
                            </div>
                        </div>
                    </div>
                    <button  type="submit" class="btn btn-outline-warning btn-lg mx-auto d-block">RESERVE A TABLE</button>
                </div>
            </section>
        {% endcomment %}
    </div>

{% endblock body %}