{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- ********** Menu Section ********** -->
        <div class="section bg-warning">
            <div class="container-fluid" id="menu-section">
                <div class="row">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert bg-success alert-dismissable text-center fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                        <div class="container col-10 text-center p-3">
                            <h3>Our Menu</h3>
                            <p class="mb-4">A culinary canvas where artistry and indulgence converge, each dish a symphony of flavors meticulously crafted to delight the senses and leave a lasting impression.</p>
                        </div>
        
                    <!-- Menu Items -->
                    <div class="menu-items">
                        <div class="container">
                            <div class="row">
        
                                <!-- Menu item -->
                                {% for menu in menu_list %}
                                    <div class="col-lg-6 col-md-12">
                                        <div class="row menu-item-1">
                                            <div class="col-lg-4 col-xl-4 col-md-5 col-sm-12 col-12 menu-item-photo-container">
                                                <img class="menu-item-photo" src="{{menu.image.url}}" alt="menu item">
                                            </div>
                                            <div class="col-lg-6 col-xl-6 col-md-5 col-sm-12 col-12 menu-item-details-container">
                                                <a class="text-warning" href="{% url 'menu:menu_detail' menu.slug %}">{{menu.name}}</a>
                                                <p class="menu-item-info">{{menu.description|truncatewords:60}}</p>
                                            </div>
                                            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-12 col-12 menu-item-price-container">
                                                <span class="dollar font-weight-bold">€{{menu.price}}</span>
                                            </div>

                                            {% if request.user.is_superuser %}
                                            <div class="col-12 mt-3">
                                                <small>
                                                    <a class="text-success edit-menu-btn" href="{% url 'menu:edit_menu' menu.slug %}">Edit</a>
                                                    <a class="text-danger delete-menu-btn" href="{% url 'menu:delete_menu' menu.slug %}">Delete</a>
                                                </small>
                                            </div>
                                            {% endif %}
                                            
                                        </div>
                                        <hr class="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
